[submodule "ext/mruby-milkv-duo"]
	path = ext/mruby-milkv-duo
	url = https://github.com/denko-rb/mruby-milkv-duo.git
[submodule "ext/ruby_bcd"]
	path = ext/ruby_bcd
	url = https://github.com/dafyddcrosby/ruby_bcd.git
[submodule "ext/denko"]
	path = ext/denko
	url = https://github.com/denko-rb/denko
